body {
  background-color: rgb(100, 100, 100);
}

.App {
  color: whitesmoke;
  display: grid; 
  grid-auto-columns: 300px; 
  grid-template-columns: 1220px 600px; 
  grid-template-rows: 570px 50px 300px; 
  grid-template-areas: 
    "chart map"
    "chart description"; 
}

.header { 
  font-size: 20pt;
}

.chart { 
  grid-area: chart;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-left: 100px;
}

.slider { 
  position: absolute;
  top: 620px;
  left: 80px;
}

.map { 
  grid-area: map; 
  display: flex;
  padding-top: 100px;
}

.description { 
  grid-area: description; 
  padding-top: 110px;
}

.description p {
  font-size: larger;
}

.description h2 {
  font-size: x-large;
  font-weight: normal;
}

path.clicked {
  stroke: rgb(25, 96, 189);
  stroke-width: 3px;
}

.textHeader {
  display: grid; 
  grid-auto-columns: 300px; 
  grid-template-columns: 200px 200px; 
  grid-template-rows: 80px; 
  grid-template-areas: 
    "legendHeader filterHeader";
  font-size: x-large;
}

.legendHeader {
  padding-top: 60px;
}

.filterHeader {
  display: inline-flex;
  padding-top: 62px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;                 
  padding: 2px;             
  font: 12px sans-serif;          
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;
  border: 1px;         
}

div.tooltip > h3 {
background: rgb(100, 100, 100);
margin-bottom: 0px;
margin-top: 0px;
height: auto;
font-size: 22px;
color: white;
}

line.track-fill {
  stroke:rgb(25, 96, 189)
}

line.track-inset {
  stroke: rgb(190, 190, 190);
}

line.track {
  stroke: rgb(100, 100, 100)
}

g.tick {
  fill: whitesmoke;
}
