.Checkbox {
    display: grid;
    grid-template-columns: 65px 300px;
    grid-template-rows: 35px;
    grid-template-areas: "checkbox checkbox-label";
    padding-left: 200px;
}

.checkbox {
    padding-left: 25px;
    scale: 120%;
    padding-top: 25px;
}

.checkbox-label {
    padding-top: 44px;
    font-size: large;
}